input { 
	text-align: center;
	background-color: #85CEFF;
	font-size: 11px;
	/-webkit-border-radius: 5px; */
	-moz-border-radius: 5px; */
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444; */
	border-color: #C1C1C1;

}

p{
	font-family: helvetica;
	text-align: center;
}

body{
	padding-top: 50px;
}